streamlit==1.29.0
easyocr==1.6.0
opencv-python-headless==4.5.4.60
Pillow==9.5.0
numpy==1.25.2
pandas==2.0.3
PyGithub==1.59
requests==2.32.0
rich>=10.14.0,<14
markdown-it-py==4.0.0
mdurl==0.1.2
pygments==2.19.2